body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.polonia{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.polonia{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
}

.polonia1{
    flex: 1;
    background-color: white;
}

.polonia2{
    flex: 1;
    background-color: red;
}

.italia{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

.italia{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
}

.italia1{
    flex: 1;
    background-color: green;
}

.italia2{
    flex: 1;
    background-color: white;
}

.italia3{
    flex: 1;
    background-color: red;
}

.japao{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

.japao{
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.japao1{
    width: 100px;
    height: 100px;
    background-color: #bc002d;
    border-radius: 50%;
}

.suecia{
    margin: 3;
    padding: 3;
    box-sizing: border-box;
}

.suecia{
    width: 300px;
    height: 200px;
    background-color: #006aa7;
    position: relative;
}

.suecia1{
    position: absolute;
    top: 0;
    left: 80px;
    width: 50px;
    height: 100%;
    background-color: #fecc00;
}

.suecia2{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fecc00;
}

.trindad {
    margin: 4;
    padding: 4;
    width: 300px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.faixa-preta{
    background-color: rgb(0, 0, 0);
    width: 60px;
    height: 500px;
    border: 5px;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
}

.kuwait{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.kuwaitVerde{
    flex: 1;
    background-color: green;
}

.kuwaitBraco{
    flex: 1;
    background-color: white;
}

.kuwaitVermelho{
    flex: 1;
    background-color: red;
 }

.kuwaitPreto{
    position: absolute;
   width: 900px;
   height: 300px;
   background-color: black;
   border-radius: 100%;
   clip-path: polygon(0% 0%, 29.99% 39.50%, 29.99% 62.00%, 0% 100%);
   margin-left: -40%;
   margin-top: -17%;
}
   

.grecia {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
}

.grecia1 {
   width: 100%;
   height: 20px;
   background-color: navy;

}

.grecia2 {
    width: 100%;
   height: 30px;
   background-color: rgb(255, 255, 255);
}

.grecia3 {
    position: absolute;
    width: 100px;
   height: 100px;
   background-color: navy;
   display: flexbox;   
}

.grecia4 {
    position: absolute;
    width: 20px;
    height: 110px;
    background-color: #ffffff;
    align-self: center;
    margin-left: 40px;
}

.grecia5 {

    position: absolute;
    margin-top: 45px;
    width: 100px;
    height: 20px;
    background-color: white;
    align-self: center;
}

.bissau2{
    width: 80px;
    height: 200px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bissau{
    width: 300px;
    height: 200px;
    background-color: rgb(212, 208, 0);
    display: flex;
}
.bissau3{
    width: 100%;
    height: 100px;
    background-color: rgb(3, 85, 9)
}
.bissau4{
width: 70px;                  
height: 70px;                          
background-color: rgb(0, 0, 0);                                          
border-radius: 100%;   
clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );           
}

.Brasil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #00a859; 

}
.losango {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 80%;
    height: 80%;
    background-color: yellow;
}
.esferaBrasil{
    position: relative;
    width: 90px;
    height: 90px;
    background-color: blue;
    border-radius: 50%; 
    overflow: hidden;
}
.ordemEProgresso{
    position: absolute;
    top: 20px;
    left: -300px;
    width: 500px;
    height: 400px;
    background-color: transparent;
    border: 10px solid white;
    border-radius: 50%;

}

.macedonia-flag {
      width: 300px;
      height: 200px;
      background-color: #d20000;
      position: relative;
      overflow: hidden;
      border: 1px solid black;
}

.ray {
      position: absolute;
      background-color: #ffd700;
      transform-origin: center;
}

.ray.h {
      top: 50%;
      left: 0;
      height: 10px;
      width: 100%;
      transform: translateY(-50%);
}

.ray.v {
      left: 50%;
      top: 0;
      width: 10px;
      height: 100%;
      transform: translateX(-50%);
}

.ray.d1 {
      width: 140%;
      height: 10px;
      top: 50%;
      left: -20%;
      transform: rotate(45deg) translateY(-50%);
}

.ray.d2 {
      width: 140%;
      height: 10px;
      top: 50%;
      left: -20%;
      transform: rotate(-45deg) translateY(-50%);
}

.sun {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 40px;
   height: 40px;
   background-color: #ffd700; 
   border-radius: 50%;
   transform: translate(-50%, -50%);
   border: 4px solid #d20000; 
    }
